<sw-card-view
    class="teu-document-category-tree-list-view"
    position-identifier="teu-document-category-tree-list-view"
>
    <sw-tabs
        v-if="!isLoading"
        class="teu-document-category-tree-view__tabs"
    >
        <sw-tabs-item
                class="teu-document-category-tree__tab-base"
                :route="{ name: 'teu.document.category.detail.base' }"
                :title="$tc('sw-category.view.general')"
        >
            {{ $tc('sw-category.view.general') }}
        </sw-tabs-item>
    </sw-tabs>

    <router-view :is-loading="isLoading" />
</sw-card-view>
