{% block teu_document_detail %}
    <sw-page class="teu-document-detail">
        <template #smart-bar-header>
            {% block teu_document_detail_header %}
                <h2>
                    {{ $tc('teu-document.detail.header') }}

                    <sw-label v-if="document && document.name" variant="info">
                        {{ document.name }}
                    </sw-label>
                </h2>
            {% endblock %}
        </template>
        <template #smart-bar-actions>
            {% block teu_document_detail_smartbar %}
                <sw-button-group>
                    <sw-button
                            :router-link="{ name: 'teu.document.list' }"
                            variant="ghost"
                    >
                        {{ $tc('teu-document.general.cancel') }}
                    </sw-button>
                    <sw-button
                            :is-loading="isLoading"
                            variant="primary"
                            @click="onSave">
                        {{ $tc('teu-document.general.save') }}
                    </sw-button>

                </sw-button-group>
            {% endblock %}
        </template>

        {% block teu_document_detail_language_switch %}
            <template #language-switch>
                <sw-language-switch slot="language-switch" :disabled="document && document.isNew()"
                                    @on-change="onChangeLanguage"></sw-language-switch>
            </template>
        {% endblock %}

        <template #content>
            {% block teu_document_detail_content %}
                <sw-card-view>
                    <sw-card
                            v-if="document"
                    >
                        {% block teu_document_detail_name %}
                            <sw-text-field
                                    :label="$tc('teu-document.detail.label.name')"
                                    :error="documentNameError"
                                    v-model:value="document.name"
                                    required="true"
                            >
                            </sw-text-field>
                        {% endblock %}

                        {% block teu_document_detail_description %}
                            <sw-text-editor
                                    :label="$tc('teu-document.detail.label.description')"
                                    v-model:value="document.description">
                            </sw-text-editor>
                        {% endblock %}

                        {% block teu_document_detail_external %}
                            <sw-switch-field
                                :label="$tc('teu-document.detail.label.isExternal')"
                                v-model:value="document.isExternal"
                                class="mb-0">
                            </sw-switch-field>
                        {% endblock %}

                        {% block teu_document_detail_media %}
                            <sw-media-field
                                v-if="!document.isExternal"
                                v-model:value="document.mediaId"
                                :label="$tc('teu-document.detail.label.document')"
                            />
                        {% endblock %}

                        {% block teu_document_detail_external_link %}
                            <sw-url-field
                                v-if="document.isExternal"
                                :label="$tc('teu-document.detail.label.externalLink')"
                                v-model:value="document.externalLink"
                            >
                            </sw-url-field>
                        {% endblock %}

                        {% block teu_document_detail_external_new_tab %}
                            <sw-switch-field
                                v-if="document.isExternal"
                                :label="$tc('teu-document.detail.label.externalNewTab')"
                                v-model:value="document.externalNewTab"
                                class="mb-0">
                            </sw-switch-field>
                        {% endblock %}

                        {% block teu_document_detail_preview %}
                            <sw-media-field
                                    v-model:value="document.previewId"
                                    :allowed-mime-types="['image/jpeg','image/png']"
                                    :label="$tc('teu-document.detail.label.preview')"
                            />
                        {% endblock %}

                        {% block teu_document_detail_category %}
                            <teu-document-category-tree-field
                                    v-model:value="document.categories"
                                    :label="$tc('sw-cms.components.cmsLayoutAssignmentModal.labelCategories')"
                                    :placeholder="$tc('sw-cms.components.cmsLayoutAssignmentModal.placeholderCategories')"
                                    :categories-collection="document.categories"
                                    class="sw-product-detail__select-category">
                            </teu-document-category-tree-field>
                        {% endblock %}

                        {% block teu_document_detail_tag %}
                            <sw-entity-tag-select :label="$tc('sw-category.base.general.labelCategoryTags')" v-if="document" v-model:entityCollection="document.tags" :placeholder="$tc('sw-product.categoryForm.placeholderTags')">
                            </sw-entity-tag-select>
                        {% endblock %}

                    </sw-card>

                    <sw-card :title="$tc('sw-product.specifications.cardTitleCustomFields')"
                             v-if="document && !document.isNew() && customFieldSets && customFieldSets.length > 0"
                             :isLoading="isLoading" style="width: 100%;"
                             position-identifier="teu-document-customfields">
                        <sw-custom-field-set-renderer v-if="document"
                                                      :entity="document"
                                                      :sets="customFieldSets">
                        </sw-custom-field-set-renderer>
                    </sw-card>

                </sw-card-view>
                <sw-loader v-if="isLoading" size="50px">
                </sw-loader>

            {% endblock %}
        </template>

        {% block teu_document_sidebar %}
            <template #sidebar>
                <sw-sidebar>
                    <sw-sidebar-media-item ref="mediaSidebarItem">
                        <template #context-menu-items="media">
                            <sw-context-menu-item @click="setMediaItemFromSidebar(media.mediaItem)">
                                test
                            </sw-context-menu-item>
                        </template>
                    </sw-sidebar-media-item>
                </sw-sidebar>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}


