{% block teu_document_category_tree %}
    <sw-page class="teu-document-category-tree">
        <template #smart-bar-header>
            <h2 v-if="category">
                {{ placeholder(category, 'name') }}
            </h2>
            <h2 v-else>
                {{ $tc('teu-document-category.main.menuLabel') }}
            </h2>
        </template>

        <template #language-switch>
            <sw-language-switch
                @on-change="onChangeLanguage"
                :save-changes-function="saveOnLanguageChange"
                :abort-change-function="abortOnLanguageChange">
            </sw-language-switch>
        </template>

        <template #smart-bar-actions>

            <template v-if="category && $route.name === 'teu.document.category.detail.base'">
                <sw-button-process class="teu-document-category-tree__save-action"
                                   :is-loading="isLoading"
                                   :process-success="isSaveSuccessful"
                                   :disabled="isLoading"
                                   variant="primary"
                                   @process-finish="saveFinish"
                                   @click.prevent="onSave">
                    {{ $tc('global.default.save') }}
                </sw-button-process>
            </template>
        </template>

        <template #side-content>
            {% block teu_document_category_tree_list %}
                <teu-document-category-tree-list
                    :category-id="categoryId"
                    :current-language-id="currentLanguageId"
                    @unsaved-changes="openChangeModal">
                </teu-document-category-tree-list>
            {% endblock %}
        </template>

        <template #content>
            {% block teu_document_category_tree_content %}
                <sw-empty-state
                    v-if="showEmptyState"
                    :title="$tc('teu-document-category.main.emptyStateHeadline')"
                    :icon="'regular-content'">
                </sw-empty-state>

                <teu-document-category-tree-list-view
                        v-if="category"
                        ref="categoryView"
                        :is-loading="isLoading"
                />

                <sw-discard-changes-modal
                    v-if="isDisplayingLeavePageWarning"
                    @keep-editing="onLeaveModalClose(nextRoute)"
                    @discard-changes="onLeaveModalConfirm(nextRoute)"
                />
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
