.cms-block-teu-document,
.search-results {
    .teu-document-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
        &.document-layout-gallery {
            @include media-breakpoint-up(sm) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        max-width: 100%;
        overflow: hidden;
        grid-row-gap: 20px;
        grid-column-gap: 5%;
        .btn-download {
            min-width: 100%!important;
            margin-top: 0!important;
            white-space: normal;
            text-align: left;
        }
    }
}


&.btn-download {
    position: relative;
    background-color: $secondary;
    color: white;
    padding: 10px 80px 10px 20px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    border: 0;
    font-weight: 700;
    min-width: 100%;
    @include media-breakpoint-up(sm) {
        min-width: 450px;
    }
    &:hover {
        background-color: $primary;
        text-decoration: none;
        color: white;
    }
    .button-icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        height: 100%;
        width: 60px;
        background-color: $primary;
        .icon {
            color: #fff;
            > svg {
                top:0;
            }
        }
    }
    /*&:after {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        height: 100%;
        width: 60px;
        content: url("/bundles/teudocument/img/icon-pdf.svg");
        background-color: $primary;
        padding: 0 20px;
        line-height: 1;
    }*/
}

.docs-container {
    .doc-box {
        padding: 20px 0;
        border-bottom: 1px solid $sw-border-color;
        gap: 30px;
        display:flex;
        align-items:center;
        .preview {
            width:100px;
        }
        .info {
            display: flex;
            height: 3rem;
            align-items: center;
            line-height: 1.5rem;
            flex:1;
            .doc-name,
            .doc-desc {
                display: block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                flex: 1;
                margin-bottom:0;
            }
            a {
                font-weight:normal;
            }
        }
    }
    &.d-grid {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        &.with-preview {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
        a {
            margin:0;
        }
        .doc-box {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items:normal;
            .preview {
                width:100%;
            }
            .info {
                flex: none;
                p {
                    display: block;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex: 1;
                    margin-bottom:0;
                }
            }
        }

    }
    .btn-download {
        display:block;
        @include media-breakpoint-up(sm) {
            min-width: 100%;
        }
    }
    .preview-image {
        object-fit: cover;
        width: 100%;
        margin: auto;
    }
    .placehoder-wrapper {
        aspect-ratio: 1 /1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $gray-200;
    }
    .doc-desc {
        display: block;
        padding: 0 12px;
    }
}
