{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
{% if page.product.extensions.documents %}
{% block page_product_detail_set_container %}
<div class="align-items-center product-detail-docs">
    <div class="product-detail-tab-docs-container tab-pane-container">
        {% block component_product_set_title %}
        <div class="h3 product-detail-docs-title">
            {{ "TeuDocument.search.doc"|trans|sw_sanitize }}
        </div>
        {% endblock %}

        {% sw_include '@Storefront/storefront/component/product/document.html.twig' with {
            product: page.product
        } %}
    </div>
</div>
{% endblock %}
{% endif %}
{% endblock %}

