{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}

{% block page_product_detail_tabs_navigation_description %}
    {{ parent() }}
    {# tab dokumente #}
    {% if page.product.extensions.documents %}
        <li class="nav-item">
            <a class="nav-link product-detail-tab-navigation-link docs-tab"
               id="docs-tab"
               data-bs-toggle="tab"
               data-offcanvas-tabs="true"
               href="#docs-tab-pane"
               role="tab"
               aria-controls="docs-tab-pane"
               aria-selected="true">
                <span>{{ "TeuDocument.search.doc"|trans|sw_sanitize }}</span>
                <span
                    class="product-detail-tab-navigation-icon"> {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}</span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block page_product_detail_tabs_content_description %}
    {{ parent() }}
    {#content dokumente#}
    {% if page.product.extensions.documents %}
        <div class="tab-pane fade"
             id="docs-tab-pane"
             role="tabpanel"
             aria-labelledby="docs-tab">
            {% sw_include '@Storefront/storefront/page/product-detail/docs-tab.html.twig' %}
        </div>
    {% endif %}
{% endblock %}
