{% block sw_cms_element_document_config %}
<div class="sw-cms-el-config-heroslider">
    {% block sw_cms_element_document_config_general_wapper %}
        <sw-container columns="1fr 1fr" gap="20px">

            {% block sw_cms_element_document_config_teplate_select %}
                <sw-select-field
                    v-model:value="element.config.listingTemplate.value"
                    :label="$tc('sw-cms.elements.customTeuDocument.config.typeOfListing')"
                    :placeholder="$tc('sw-cms.elements.customTeuDocument.config.listingTemplate')">
                    {% block sw_cms_element_document_config_teplate_select_options %}
                        <option value="list">
                            {{ $tc('sw-cms.elements.customTeuDocument.config.listingTemplateOpts.list') }}
                        </option>
                        <option value="gallery">
                            {{ $tc('sw-cms.elements.customTeuDocument.config.listingTemplateOpts.gallery') }}
                        </option>
                    {% endblock %}
                </sw-select-field>
            {% endblock %}

            {% block sw_cms_element_document_config_listingtype_select %}
                <sw-select-field
                          v-model:value="element.config.typeOfListing.value"
                          :label="$tc('sw-cms.elements.customTeuDocument.config.typeOfListing')"
                          :placeholder="$tc('sw-cms.elements.customTeuDocument.config.typeOfListing')">
                    {% block sw_cms_element_document_config_listingtype_select_options %}
                        <option value="tag">
                            {{ $tc('sw-cms.elements.customTeuDocument.config.typeOfListingOpts.byTag') }}
                        </option>
                        <option value="category">
                            {{ $tc('sw-cms.elements.customTeuDocument.config.typeOfListingOpts.byCategory') }}
                        </option>
                        <option value="manual">
                            {{ $tc('sw-cms.elements.customTeuDocument.config.typeOfListingOpts.manual') }}
                        </option>
                        <option value="customField">
                            {{ $tc('sw-cms.elements.customTeuDocument.config.typeOfListingOpts.customField') }}
                        </option>
                    {% endblock %}
                </sw-select-field>
            {% endblock %}

        </sw-container>
    {% endblock %}

    {% block sw_cms_element_document_config_listing_options_wapper %}
        <sw-container columns="1fr 1fr" gap="20px">
            {% block sw_cms_element_document_config_listing_options_preview %}
                <sw-switch-field
                        v-model:value="element.config.listingShowPreview.value"
                        class="sw-text-editor-toolbar-button__link-menu-switch sw-text-editor-toolbar-button__link-menu-new-tab"
                        :label="$tc('sw-cms.elements.customTeuDocument.config.listingShowPreview')"
                />
            {% endblock %}

            {% block sw_cms_element_document_config_listing_options_description %}
                <sw-switch-field
                        v-model:value="element.config.listingShowDescription.value"
                        class="sw-text-editor-toolbar-button__link-menu-switch sw-text-editor-toolbar-button__link-menu-new-tab"
                        :label="$tc('sw-cms.elements.customTeuDocument.config.listingShowDescription')"
                />
            {% endblock %}
        </sw-container>
    {% endblock %}

    {% block sw_cms_element_document_config_listingtype_options_wapper %}
        <sw-container>
            {% block sw_cms_element_document_config_listingtype_options_tag_wrapper %}
                <template v-if="element.config.typeOfListing.value == 'tag'">
                    {% block sw_cms_element_document_config_listingtype_options_tag_field %}
                        <sw-entity-multi-select :label="$t('sw-cms.elements.customTeuDocument.config.listingTags')"
                                                :placeholder="$tc('sw-cms.elements.customTeuDocument.config.listingTags')"
                                                v-model:entityCollection="tagsCollection" @update:entity-collection="onTagsChange">
                        </sw-entity-multi-select>
                    {% endblock %}
                </template>
            {% endblock %}
            {% block sw_cms_element_document_config_listingtype_options_category_wrapper %}
                <template v-if="element.config.typeOfListing.value == 'category'">
                    {% block sw_cms_element_document_config_listingtype_options_category_field %}
                            <teu-document-category-tree-field
                                    v-model:value="selectedCategories"
                                    :label="$t('sw-cms.elements.customTeuDocument.config.listingCategories')"
                                    :placeholder="$tc('sw-cms.components.cmsLayoutAssignmentModal.placeholderCategories')"
                                    :categories-collection="selectedCategories"
                                    class="sw-product-detail__select-category">
                            </teu-document-category-tree-field>
                    {% endblock %}
                </template>
            {% endblock %}
            {% block sw_cms_element_document_config_listingtype_options_manual_wrapper %}
                <template  v-if="element.config.typeOfListing.value == 'manual'">
                    {% block sw_cms_element_document_config_listingtype_options_manual_field %}
                        <sw-entity-multi-id-select :label="$t('sw-cms.elements.customTeuDocument.config.listingSelection')"
                                                   :repository="documentRepository"
                                                :criteria="documentCriteria"
                                                label-property="name"
                                                v-model:value="element.config.listingSelection.value">
                        </sw-entity-multi-id-select>
                    {% endblock %}
                </template>
            {% endblock %}
        </sw-container>
    {% endblock %}

</div>
{% endblock %}
