{% block document_info %}
    <div class="info">
        <div class="doc-name">
            {% block document_name %}
                <a href="{{ linkUrl }}"{% if openNewTab %} target="_blank"{% endif%} class="btn btn-link">
                    {{ document.translated.name }}
                </a>
            {% endblock %}
            {% block document_descrition %}
                {% if showDescription %}
                    <div class="doc-desc">
                        {{ document.translated.description }}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        {% block document_icon %}
            <a href="{{ linkUrl }}"{% if openNewTab %} target="_blank"{% endif%} class="btn {% if document.isExternal %} is--external{% endif %}">
                {% if document.isExternal %}
                    {% block document_icon_extern %}
                        {% sw_icon 'external' style {'size': 'xs'} %}
                    {% endblock %}
                {% else %}
                    {% block document_icon_intern %}
                        {% sw_icon 'tray-up' style {'size': 'xs'} %}
                    {% endblock %}
                {% endif %}
            </a>
        {% endblock %}
    </div>
{% endblock %}