{% block document_preview %}
    <a href="{{ linkUrl }}" {% if openNewTab %} target="_blank"{% endif%} class="preview shadow">
        {% if document.translated.previewId %}
            {% set previewMediaId = document.translated.previewId %}
            {# fetch media as batch - optimized for performance #}
            {% set previewMediaCollection = searchMedia([previewMediaId], context.context) %}
            {# extract single media object #}
            {% set previewMedia = previewMediaCollection.get(previewMediaId) %}
            {% set previewLinkUrl =  previewMedia.url %}
            {% block document_preview_image %}
                <img src="{{ previewLinkUrl }}" class="preview-image" />
            {% endblock %}
        {% else %}
            {% block page_product_detail_teudocuments_preview_view_image_placehoder %}
                <div class="placehoder-wrapper">
                    {% block document_preview_placeholder %}
                        {% if document.isExternal %}
                            {% block document_preview_placeholder_extern %}
                                {% sw_icon 'external' style {'size': 'xl'} %}
                            {% endblock %}
                        {% else %}
                            {% block document_preview_placeholder_intern %}
                                {% sw_icon 'tray-up' style {'size': 'xl'} %}
                            {% endblock %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endif %}

    </a>
{% endblock %}