{% sw_extends '@Storefront/storefront/page/search/index.html.twig' %}

{%  set teuDocumentConfig = config('TeuDocument.config') %}
{%  set netzpSearchAdvanced6Config = config('NetzpSearchAdvanced6.config') %}
{% set tab = app.request.get('tab') ?? 'product' %}

{% block page_search %}
    {%  if netzpSearchAdvanced6Config is not null or teuDocumentConfig.activeDocSearch %}
        <ul class="nav nav-tabs">
            {% if page.listing.total > 0 %}
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'product' %}active{% endif %}" data-bs-toggle="tab" href="#products">
                        {{ "TeuDocument.search.products"|trans }}
                        <span class="badge bg-primary">{{ page.listing.total }}</span>
                    </a>
                </li>
                {% set OneTabIsActiveNav = true %}
            {% endif %}

            {% if netzpSearchAdvanced6Config is not null %}
                {% for key, searchTab in page.extensions.netzpSearch %}
                    {% if(searchTab.total > 0) %}
                        <li class="nav-item">
                            <a class="nav-link {% if tab == key %}active{% endif %}" data-bs-toggle="tab" href="#{{ key }}">
                                {{ searchTab.label|trans }}
                                <span class="badge bg-primary">{{ searchTab.total }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if teuDocumentConfig.activeDocSearch %}
                {% for key, searchTab in page.teuSearch %}
                    {% if(searchTab.total > 0) %}
                        <li class="nav-item">
                            <a class="nav-link{% if tab == key %} active{% endif %}" data-bs-toggle="tab" href="#{{ key }}">
                                {{ searchTab.label|trans }}
                                <span class="badge bg-primary">{{ searchTab.total }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>

        <div class="tab-content">
            {% if page.listing.total > 0 %}
                <div class="tab-pane container {% if tab == 'product' %}active{% endif %} mt-4 search-results" id="products">
                    {% block page_search_headline %}
                        {{ parent() }}
                    {% endblock %}

                    {% sw_include '@Storefront/storefront/page/search/search-pagelet.html.twig' with { page: page } %}
                </div>
            {% endif %}
            {%  if netzpSearchAdvanced6Config is not null  %}
                {% for key, searchTab in page.extensions.netzpSearch %}
                    {% if(searchTab.data|length > 0) %}
                        <div class="tab-pane container {% if tab == key %}active{% endif %} mt-4 search-results" id="{{ key }}">
                            {% if(key == 'categories') %}
                                {% sw_include "@Storefront/storefront/netzp-search/categories.html.twig" ignore missing %}
                            {% elseif(key == 'manufacturer') %}
                                {% sw_include "@Storefront/storefront/netzp-search/manufacturer.html.twig" ignore missing %}
                            {% elseif(key == 'cms') %}
                                {% sw_include "@Storefront/storefront/netzp-search/cms.html.twig" ignore missing %}
                            {% else %}
                                {% block netzp_search_container %}{% endblock %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {%  endif %}

            {% if teuDocumentConfig.activeDocSearch %}
                {% for key, searchTab in page.teuSearch %}
                    {% if(searchTab.data|length > 0) %}
                        <div class="tab-pane container {% if tab == key %}active{% endif %} mt-4 search-results" id="{{ key }}">
                            {% sw_include "@Storefront/storefront/component/search/" ~ key ~ ".html.twig" ignore missing %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
