
{% if element.config.typeOfListing.value == 'customField' %}
    {%  set documents = page.product.extensions.documents %}
{%  else  %}
    {% set documents = element.data.documents  %}
{% endif %}

{%  set teuDocumentConfig = config('TeuDocument.config') %}

{% if documents %}
    {% block page_product_detail_teudocuments_container %}
        <div class="docs-container{% if  element.config.listingTemplate.value == 'gallery'%} d-grid gap-3{% endif %}{% if  element.config.listingShowPreview.value %} with-preview{% endif %}">
            {% for document in documents %}
                {% if document.isExternal %}
                    {% set linkUrl =  document.translated.externalLink %}
                    {% set openNewTab =  document.externalNewTab %}
                {% elseif document.translated.mediaId %}
                    {# simplify ID access #}
                    {% set documentMediaId = document.translated.mediaId %}
                    {# fetch media as batch - optimized for performance #}
                    {% set mediaCollection = searchMedia([documentMediaId], context.context) %}
                    {# extract single media object #}
                    {% set documentMedia = mediaCollection.get(documentMediaId) %}
                    {% set linkUrl =  documentMedia.url %}
                    {% set openNewTab =  true %}
                {%  else %}
                    {% set linkUrl =  '' %}
                    {% set openNewTab =  false %}
                {% endif %}

                {% sw_include '@Storefront/storefront/component/document/document.html.twig' with {
                    documents: documents,
                    linkUrl: linkUrl,
                    openNewTab: openNewTab,
                    showPreview: element.config.listingShowPreview.value,
                    showDescription: element.config.listingShowDescription.value
                } %}

            {% endfor %}
        </div>
    {% endblock %}
{% endif %}
