{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% set docsTabId = "docs-tab-" ~ element.data.product.id %}
{% set docsTabHref = "#docs-tab-" ~ element.data.product.id ~ "-pane" %}
{% set docsTabContent = "docs-tab-" ~ element.data.product.id ~ "-pane" %}

{% block element_product_description_reviews_tabs_navigation_description %}
    {{ parent() }}
    {# tab dokumente #}
    {% if page.product.extensions.documents %}
        <li class="nav-item">
            <a class="nav-link product-detail-tab-navigation-link docs-tab"
               id="{{ docsTabId }}"
               data-bs-toggle="tab"
               data-off-canvas-tabs="true"
               href="{{ docsTabHref }}"
               role="tab"
               aria-controls="{{ docsTabContent }}"
               aria-selected="true">
                <span>{{ "TeuDocument.search.doc"|trans|sw_sanitize }}</span>
                <span class="product-detail-tab-navigation-icon">
                    {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                </span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block element_product_description_reviews_tabs_content_description %}
    {{ parent() }}
    {#content dokumente#}
    {% if page.product.extensions.documents %}
        <div class="tab-pane fade show"
             id="{{ docsTabContent }}"
             role="tabpanel"
             aria-labelledby="{{ docsTabId }}">
            {% sw_include '@Storefront/storefront/page/product-detail/docs-tab.html.twig'with {
                product: element.data.product
            } %}
        </div>
    {% endif %}
{% endblock %}


