<div class="teu-document-category-tree-list">
    <sw-tree
            v-if="!isLoadingInitialData"
            ref="categoryTree"
            class="sw-category-tree__inner"
            after-id-property="afterCategoryId"
            :items="categories"
            :sortable="sortable"
            :searchable="false"
            :active-tree-item-id="categoryId"
            :translation-context="translationContext"
            :on-change-route="changeCategory"
            :disable-context-menu="disableContextMenu"
            initially-expanded-root
            @batch-delete="deleteCheckedItems"
            @delete-element="onDeleteCategory"
            @drag-end="onUpdatePositions"
            @get-tree-items="onGetTreeItems"
            @editing-end="syncSiblings"
    >
        <template #headline>
            <div class="sw-tree-actions__headline">
                <span>{{ $tc('teu-document-category.main.treeHeadline') }}</span>
            </div>
        </template>

        <template
                #items="{
                treeItems,
                sortable,
                draggedItem,
                newElementId,
                checkItem,
                translationContext,
                onChangeRoute,
                disableContextMenu,
                selectedItemsPathIds,
                checkedItemIds,
            }"
        >
            <sw-tree-item
                    v-for="item in treeItems"
                    :key="item.id"
                    :item="item"
                    :should-show-active-state="true"
                    :allow-duplicate="false"
                    :active="item.active"
                    :translation-context="translationContext"
                    :on-change-route="onChangeRoute"
                    :sortable="sortable"
                    :dragged-item="draggedItem"
                    :disable-context-menu="disableContextMenu"
                    :new-element-id="newElementId"
                    :get-item-url="getCategoryUrl"
                    :active-parent-ids="selectedItemsPathIds"
                    :active-item-ids="checkedItemIds"
                    @check-item="checkItem"
            />
        </template>

    </sw-tree>

    <div v-else>
        <sw-skeleton variant="tree-item" />
        <sw-skeleton variant="tree-item-nested" />
        <sw-skeleton variant="tree-item-nested" />
        <sw-skeleton variant="tree-item-nested" />
        <sw-skeleton variant="tree-item" />
        <sw-skeleton variant="tree-item-nested" />
        <sw-skeleton variant="tree-item-nested" />
    </div>
</div>
