{% block sw_cms_element_document %}
    <div class="sw-cms-el-document">
            <div class="sw-cms-el-image-slider__image-box sw-cms-el-document-content">
                <div class="teu-document-wrapper" :class="`document-layout-${element.config.listingTemplate.value}`">
                    <a href="#" class="btn btn-download"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download" v-if="element.config.listingTemplate.value != 'list'"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download" v-if="element.config.listingTemplate.value != 'list'"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download" v-if="element.config.listingTemplate.value != 'list'"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download" v-if="element.config.listingTemplate.value != 'list'"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download" v-if="element.config.listingTemplate.value != 'list'"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                    <a href="#" class="btn btn-download" v-if="element.config.listingTemplate.value != 'list'"><img v-if="element.config.listingShowPreview.value" :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">Doc <sw-icon name="regular-download" /></a>
                </div>
            </div>
    </div>
{% endblock %}
