.sw-cms-el-document {
    width: 100%;
    .teu-document-wrapper {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        max-width: 100%;
        overflow: hidden;
        grid-gap: 5px;
        .btn-download {
            position: relative;
            border: 0;
            border-bottom: 1px solid #000;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 700;
            font-size: 13px;
            min-width: 100%;
            place-self: center;
            padding: 5px;
            img {
                width: 100px;
                padding-right: 20px;
            }
            .sw-icon {
                margin-left: auto;
            }
        }
        &.document-layout-gallery {
            grid-template-columns: 1fr 1fr 1fr;
            .btn-download {
                flex-wrap: wrap;
                img {
                    width: 100%;
                    padding-left: 0;
                    margin-bottom: 10px
                }
            }
        }
    }
}
