{% block document_wrapper %}
    <div class="doc-box">
        {% if  showPreview %}
            {% sw_include '@Storefront/storefront/component/document/elements/preview.html.twig' with {
                document: document,
                linkUrl: linkUrl,
                openNewTab: openNewTab,
            } %}
        {% endif %}

        {% sw_include '@Storefront/storefront/component/document/elements/info.html.twig' with {
            document: document,
            linkUrl: linkUrl,
            openNewTab: openNewTab,
            showDescription: showDescription
        } %}
    </div>
{% endblock %}