.sw-cms-preview-teu-document {
    .teu-document-wrapper {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        overflow: hidden;
        grid-gap: 5px;
        .btn-download {
            position: relative;
            background-color: #000;
            color: white;
            align-items: center;
            border: 0;
            font-weight: 700;
            font-size: 13px;
            min-width: 100%;
            place-self: center;
            padding: 5px;
        }
    }
}
