{% block sw_cms_block_teu_document_preview %}
<div class="sw-cms-preview-teu-document">
    <div class="teu-document-wrapper">
        <a href="#" class="btn btn-download">Doc</a>
        <a href="#" class="btn btn-download">Doc</a>
        <a href="#" class="btn btn-download">Doc</a>
        <a href="#" class="btn btn-download">Doc</a>
        <a href="#" class="btn btn-download">Doc</a>
        <a href="#" class="btn btn-download">Doc</a>
    </div>
</div>
{% endblock %}

