{% block sw_cms_element_document %}
    <div class="sw-cms-preview-document sw-cms-preview-gallery">

        <div class="teu-document-wrapper">
            <a href="#" class="btn btn-download">Doc <sw-icon name="regular-download" /></a>
            <a href="#" class="btn btn-download">Doc <sw-icon name="regular-download" /></a>
            <a href="#" class="btn btn-download">Doc <sw-icon name="regular-download" /></a>
            <a href="#" class="btn btn-download">Doc <sw-icon name="regular-download" /></a>
            <a href="#" class="btn btn-download">Doc <sw-icon name="regular-download" /></a>
            <a href="#" class="btn btn-download">Doc <sw-icon name="regular-download" /></a>
        </div>
    </div>
{% endblock %}
