.sw-cms-preview-document {
    .teu-document-wrapper {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        overflow: hidden;
        grid-gap: 5px;
        .btn-download {
            position: relative;
            border: 0;
            border-bottom: 1px solid #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-items: center;
            font-weight: 700;
            font-size: 13px;
            min-width: 100%;
            place-self: center;
            padding: 5px;
        }
    }
}

