{% block teu_document_category_detail_base %}
<div class="teu-document-category-detail-base">
    <sw-card
            position-identifier="teu-document-category-detail-base"
            :title="$tc('sw-category.base.general.headlineInformationCard')"
            :is-loading="isLoading"
    >
        <sw-container
                columns="repeat(auto-fit, minmax(150px, 1fr))"
                gap="0px 30px"
        >
            {% block teu_document_category_detail_base_name %}
                <sw-text-field
                        v-model:value="category.name"
                        required
                        name="categoryName"
                        validation="required"
                        :label="$tc('sw-category.base.general.categoryNameLabel')"
                        :placeholder="placeholder(category, 'name')"
                        :error="categoryNameError"
                />
            {% endblock %}

            {% block teu_document_category_detail_base_active %}
                <sw-switch-field
                        v-model:value="category.active"
                        name="categoryActive"
                        class="sw-category-detail-base__active"
                        :label="$tc('sw-category.base.general.isCategoryActiveLabel')"
                />
            {% endblock %}
        </sw-container>
        <sw-container
                columns="1fr"
                gap="0px 30px"
        >
            {% block teu_document_category_detail_base_description %}
                <sw-text-editor
                        :label="$tc('teu-document.detail.label.description')"
                        v-model:value="category.description">
                </sw-text-editor>
            {% endblock %}
        </sw-container>
    </sw-card>
    <sw-card :title="$tc('sw-product.specifications.cardTitleCustomFields')"
             v-if="category && !category.isNew() && customFieldSets && customFieldSets.length > 0"
             :is-loading="isLoading" style="width: 100%;"
             position-identifier="teu-document-category-customfields">
        <sw-custom-field-set-renderer v-if="category"
                                      :entity="category"
                                      :sets="customFieldSets">
        </sw-custom-field-set-renderer>
    </sw-card>
</div>
{% endblock %}
