{%  set teuDocumentConfig = config('TeuDocument.config') %}
{%  set documents = page.teuSearch.docs.data %}

{% if documents %}

        {% if documents %}
                {% block page_search_teudocuments_container %}
                        <div class="docs-container{% if  teuDocumentConfig.searchListView == 'grid'%} d-grid gap-3{% endif %}{% if  teuDocumentConfig.showPreviewOnSearchPage %} with-preview{% endif %}">
                                {% for document in documents %}
                                        {% if document.isExternal %}
                                                {% set linkUrl =  document.translated.externalLink %}
                                                {% set openNewTab =  document.externalNewTab %}
                                        {% else %}
                                                {% if document.translated.mediaId %}
                                                        {# simplify ID access #}
                                                        {% set documentMediaId = document.translated.mediaId %}
                                                        {# fetch media as batch - optimized for performance #}
                                                        {% set mediaCollection = searchMedia([documentMediaId], context.context) %}
                                                        {# extract single media object #}
                                                        {% set documentMedia = mediaCollection.get(documentMediaId) %}
                                                        {% set linkUrl =  documentMedia.url %}
                                                {% endif %}
                                                {% set openNewTab =  true %}
                                        {% endif %}

                                        {% sw_include '@Storefront/storefront/component/document/document.html.twig' with {
                                                documents: documents,
                                                linkUrl: linkUrl,
                                                openNewTab: openNewTab,
                                                showPreview: teuDocumentConfig.showPreviewOnSearchPage,
                                                showDescription: teuDocumentConfig.showDescriptionOnSearchPage
                                        } %}

                                {% endfor %}
                        </div>
                {% endblock %}
        {% endif %}

{% endif %}