{%  set documents = page.teuSearch.docs.data %}
    {% for document in documents %}

        {% if document.isExternal %}
            {% set linkUrl =  document.translated.externalLink %}
            {% set openNewTab =  document.externalNewTab %}
        {% else %}
            {# simplify ID access #}
            {% if document.translated.mediaId %}
            {% set documentMediaId = document.translated.mediaId %}
            {# fetch media as batch - optimized for performance #}
            {% set mediaCollection = searchMedia([documentMediaId], context.context) %}
            {# extract single media object #}
            {% set documentMedia = mediaCollection.get(documentMediaId) %}
            {% set linkUrl =  documentMedia.url %}
                {% endif %}
            {% set openNewTab =  true %}
        {% endif %}

        {% if document.translated.previewId %}
            {% set previewMediaId = document.translated.previewId %}
            {# fetch media as batch - optimized for performance #}
            {% set previewMediaCollection = searchMedia([previewMediaId], context.context) %}
            {# extract single media object #}
            {% set previewMedia = previewMediaCollection.get(previewMediaId) %}
            {% set previewLinkUrl =  previewMedia.url %}
        {% endif %}

        <li class="search-suggest-product js-result">
            <!--<a href="{{ documentMedia.url }}" target="_blank" class="d-block search-suggest-product-link is--document">{{ document.translated.name }}</a>-->
            <a href="{{ linkUrl }}"{% if openNewTab %} target="_blank"{% endif%} class="search-suggest-product-link{% if document.isExternal %} is--external{% endif %}">
            <div class="row align-items-center g-0">

                <div class="col-auto search-suggest-product-image-container is--document">
                    {% if previewLinkUrl %}
                        {% sw_thumbnails 'product-image-thumbnails' with {
                            media: previewMedia,
                            attributes: {
                                'class': 'search-suggest-product-image',
                                'alt':   previewMedia.translated.alt ?: '',
                                'title': previewMedia.translated.title ?: ''
                            }
                        } %}
                    {% else %}
                        {% if document.isExternal %}
                            {% sw_icon 'external' style {
                                'size': 'xs'
                            } %}
                        {% else %}
                            {% sw_icon 'tray-up' style {
                                'size': 'xs'
                            } %}
                        {% endif %}
                    {% endif %}
                </div>

                <div class="col search-suggest-product-name">
                    {{ document.translated.name }}
                </div>
            </div>
            </a>
        </li>
    {% endfor %}

    <li class="js-result search-suggest-total">
        <div class="row align-items-center {{ gridNoGuttersClass }}">
            <div class="col">
                <a href="{{ path('frontend.search.page') }}?search={{ page.searchTerm }}&tab=docs"
                   title="{{ "header.searchAllResults"|trans|striptags }}"
                   class="search-suggest-total-link">
                    {% sw_icon 'arrow-head-right' style { 'size': 'sm' } %}
                    {{ "header.searchAllResults"|trans|sw_sanitize }}
                </a>
            </div>

            <div class="col-auto search-suggest-total-count">
                {{ "header.searchResults"|trans({
                    '%count%': page.teuSearch.docs.total,
                })|sw_sanitize }}
            </div>
        </div>
    </li>

