{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{%  set teuDocumentConfig = config('TeuDocument.config') %}
{%  set netzpSearchAdvanced6Config = config('NetzpSearchAdvanced6.config') %}
{% set tab = app.request.get('tab') ?? 'product' %}


{% block layout_search_suggest_container %}
    {%  if netzpSearchAdvanced6Config is not null or teuDocumentConfig.activeDocSearch %}
        <ul class="search-suggest-container teu-search-suggest-container">
            <ul class="nav nav-tabs">
                {% if(page.searchResult.total > 0) %}
                    {% block layout_search_suggest_container_product_nav %}
                        <li class="nav-item">
                            <a class="nav-link {% if tab == 'product' %}active{% endif %}" data-bs-toggle="tab" href="#products">
                                {{ "TeuDocument.search.products"|trans }}
                                <span class="badge bg-primary">{{ page.searchResult.total }}</span>
                            </a>
                        </li>
                    {% endblock %}
                {% endif %}

                {% if netzpSearchAdvanced6Config is not null %}
                    {% block layout_search_suggest_container_netzp_nav %}
                        {% for key, searchTab in page.extensions.netzpSearch %}
                            {% if(searchTab.total > 0) %}
                                {% block layout_search_suggest_container_netzp_nav_element %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if tab == key %}active{% endif %}" data-bs-toggle="tab" href="#{{ key }}">
                                            {{ searchTab.label|trans }}
                                            <span class="badge bg-primary">{{ searchTab.total }}</span>
                                        </a>
                                    </li>
                                {% endblock %}
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                {% endif %}

                {% if teuDocumentConfig.activeDocSearch %}
                    {% for key, searchTab in page.teuSearch %}
                        {% if(searchTab.total > 0) %}
                            {% block layout_search_suggest_container_teu_doc_nav %}
                                <li class="nav-item {{ key }}">
                                    <a class="nav-link {% if tab == key %}active{% endif %}" data-bs-toggle="tab" href="#{{ key }}">
                                        {{ searchTab.label|trans }}
                                        <span class="badge bg-primary">{{ searchTab.total }}</span>
                                    </a>
                                </li>
                            {% endblock %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>

            <div class="tab-content">
                    <div class="tab-pane container {% if tab == 'product' %}active{% endif %} mt-3 p-0" id="products">
                        {% block layout_search_suggest_results %}
                            {{ parent() }}
                        {% endblock %}
                        {% block layout_search_suggest_result_total %}
                            {{ parent() }}
                        {% endblock %}
                    </div>

                {% if netzpSearchAdvanced6Config is not null %}
                    {% block layout_search_suggest_container_netzp_tabs %}
                        {% for key, searchTab in page.extensions.netzpSearch %}
                            {% if(searchTab.data|length > 0) %}
                                {% block layout_search_suggest_container_netzp_tabs_element %}
                                    <div class="tab-pane container {% if tab == key %}active{% endif %} mt-3 p-0" id="{{ key }}">
                                        {% if(key == 'categories') %}
                                            {% sw_include "@Storefront/storefront/netzp-search/suggest-categories.html.twig" ignore missing %}
                                        {% elseif(key == 'manufacturer') %}
                                            {% sw_include "@Storefront/storefront/netzp-search/suggest-manufacturer.html.twig" ignore missing %}
                                        {% elseif(key == 'cms') %}
                                            {% sw_include "@Storefront/storefront/netzp-search/suggest-cms.html.twig" ignore missing %}
                                        {% else %}
                                            {% block netzp_search_container %}{% endblock %}
                                        {% endif %}
                                    </div>
                                {% endblock %}
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                {% endif %}

                {% if teuDocumentConfig.activeDocSearch %}
                    {% for key, searchTab in page.teuSearch %}
                        {% if(searchTab.total > 0) %}
                            {% block layout_search_suggest_container_teu_doc_tab %}
                                <div class="tab-pane container {% if tab == key %}active{% endif %} mt-3 p-0" id="{{ key }}">
                                    {% sw_include "@Storefront/storefront/component/search/suggest-" ~ key ~ ".html.twig" ignore missing %}
                                </div>
                            {% endblock %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </ul>

    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}



