@import "~scss/variables";

$pictogram-list-color-error: $color-crimson-500;
$pictogram-list-color-success: $color-emerald-500;

.document-list {
  .document__content {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .is--inactive {
    color: $pictogram-list-color-error;
  }

  .is--active {
    color: $pictogram-list-color-success;
  }

  .sidebar {
    .sw-sidebar-item__scrollable-container {
      padding: 0 25px;
    }
  }
}
