{% block teu_document_list %}
<sw-page class="document-list">
    <template #search-bar>
        <sw-search-bar
            :initial-search-type="$tc('teu-document.list.search.type')"
            :placeholder="$tc('teu-document.list.search.placeholder')"
            :initial-search="term"
            @search="onSearch">
        </sw-search-bar>
    </template>

    <template #smart-bar-actions>
        <sw-button-process variant="ghost"
                           :is-loading="generatePreview.isInInProgress"
                           :process-success="generatePreview.isSuccess"
                           @click="generatePreview">
            {{ $t('teu-document.list.actions.generatePreview') }}
        </sw-button-process>

        <sw-button data-cy="addButton" variant="primary" :router-link="{ name: 'teu.document.create' }">
            {{ $t('teu-document.list.actions.add') }}
        </sw-button>
    </template>

        <template #smart-bar-header>
                <h2>
                        {{ $tc('teu-document.main.title') }}
                        <span
                                v-if="!isLoading"
                                class="sw-page__smart-bar-amount"
                        >
                            ({{ total }})
                        </span>
                </h2>
        </template>

    <template #language-switch>
        <sw-language-switch @on-change="changeLanguage"></sw-language-switch>
    </template>

    <template #content>
        {% block teu_document_list_listing %}
            <sw-entity-listing
                v-if="documents"
                :items="documents"
                :repository="repository"
                :columns="columns"
                :is-loading="isLoading"
                :show-actions="true"
                :show-selection="true"
                :show-settings="true"
                detailRoute="teu.document.detail"
                @page-change="onPageChange"
                @selection-change="updateSelection"
                @update-records="updateTotal">

                {% block teu_document_list_listing_media %}
                    <template #column-mediaId="{ item }">
                        <sw-media-preview-v2 v-if="item.mediaId && !item.isExternal" :source="item.mediaId ? item.mediaId : null" use-thumbnails="false" show-controls="true" :hideTooltip="false"></sw-media-preview-v2>
                        <tamplate v-else-if="item.isExternal && item.externalLink">{{ item.externalLink }}</tamplate>
                        <tamplate v-else>-</tamplate>
                    </template>
                {% endblock %}
                {% block teu_document_list_listing_tags %}
                    <template #column-tags="{ item }">
                                <sw-label variant="info" appearance="pill" v-for="tag in item.tags">{{ tag.name }}</sw-label>
                                <tamplate v-if="item.tags.length < 1">-</tamplate>
                    </template>
                {% endblock %}
                {% block teu_document_list_listing_categories %}
                    <template #column-categories="{ item }">
                        <sw-label variant="info" appearance="pill" v-for="category in item.categories">{{ category.name }}</sw-label>
                        <tamplate v-if="item.categories.length < 1">-</tamplate>
                    </template>
                {% endblock %}
                {% block teu_document_list_listing_external %}
                    <template #column-isExternal="{ item }">
                        <sw-icon
                                v-if="item.isExternal"
                                name="regular-checkmark-xs"
                                small
                        />
                        <sw-icon
                                v-else
                                name="regular-times-s"
                                small
                        />
                    </template>
                {% endblock %}
            </sw-entity-listing>

            {% block teu_document_list_listing_loader %}
                <sw-loader v-if="isLoading"></sw-loader>
            {% endblock %}
        {% endblock %}
    </template>

    <template #sidebar>
        <sw-sidebar>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_product_list_sidebar_refresh %}
                <sw-sidebar-item
                        icon="regular-undo"
                        :title="$tc('teu-document.list.sidebar.refresh')"
                        @click="onRefresh"
                />
            {% endblock %}

            <sw-sidebar-filter-panel
                    entity="teu_product_document"
                    :store-key="storeKey"
                    :active-filter-number="activeFilterNumber"
                    :filters="listFilters"
                    :defaults="defaultFilters"
                    @criteria-changed="updateCriteria"
            />
        </sw-sidebar>
    </template>

</sw-page>
{% endblock %}
