{%  set documents = product.extensions.documents%}

{%  set teuDocumentConfig = config('TeuDocument.config') %}

{% if documents %}

    {% if documents %}
        {% block page_product_detail_teudocuments_container %}
            <div class="docs-container{% if  teuDocumentConfig.detailListView == 'grid'%} d-grid gap-3{% endif %}{% if  teuDocumentConfig.showPreviewOnDetail %} with-preview{% endif %}">
                {% for document in documents %}
                    {% if document.isExternal %}
                        {% set linkUrl =  document.translated.externalLink %}
                        {% set openNewTab =  document.externalNewTab %}
                    {% else %}
                        {# simplify ID access #}
                        {% set documentMediaId = document.translated.mediaId %}
                        {# fetch media as batch - optimized for performance #}
                        {% set mediaCollection = searchMedia([documentMediaId], context.context) %}
                        {# extract single media object #}
                        {% set documentMedia = mediaCollection.get(documentMediaId) %}
                        {% set linkUrl =  documentMedia.url %}
                        {% set openNewTab =  true %}
                    {% endif %}

                    {% sw_include '@Storefront/storefront/component/document/document.html.twig' with {
                        documents: documents,
                        linkUrl: linkUrl,
                        openNewTab: openNewTab,
                        showPreview: teuDocumentConfig.showPreviewOnDetail,
                        showDescription: teuDocumentConfig.showDescriptionOnDetail
                    } %}

                {% endfor %}
            </div>
        {% endblock %}
    {% endif %}

{% endif %}
